.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Background: #EAE7DC
 * Dark Brown: #D8C3A5
 * Dark Grey: #8E8D8A
 * Light Red: #E98074
 * Red: #E85A4F
 */

body {
  background-color: #eae7dc;
}

.container,
.container-column {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container-row {
  display: flex;
  align-items: center;
  flex-direction: row;
}

h1,
h2,
h3,
h4 {
  color: #e85a4f;
}
p {
  color: #494846;
}

textarea,
input {
  width: 100%;
  border-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  border-radius: 0.3em;
  padding: 10px;
  box-sizing: border-box;
}
textarea,
input:focus {
  outline-color: #e98074;
}
textarea {
  width: 40vw !important;
  max-width: 400px !important;
  margin: 5px;
}

.password-input-container {
  position: relative;
}
.password-input {
  padding-right: 40px;
}
.password-vis-icon {
  position: absolute;
  right: 3%;
  top: 30%;
}

.question-layout-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  background-color: #f4f3ed;

  /* Border */

  border-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  border-radius: 0.1em;

  /* Formats the header porperly */

  border-top-style: none;
  padding-top: 0px;
  border-radius: 5px;
}

.dashboard-question-container {
  width: 80%;
  min-width: 80vw;
}

.new-question-container {
  max-width: max-content !important;
}

.question-layout-title {
  display: flex;
  justify-content: center;
  font-size: 20px;
  font-weight: bold;
  border-bottom-style: solid;
  border-right-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: #e98074;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #eae7dc;
  background-color: #e98074;
  padding: 5px;
  width: 100%;
}

.question-layout-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
}

.question-card-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  border-radius: 0.2em;
  box-shadow: 1px 1px 1px #8e8d8a;
  width: 300px;
  padding: 5px;
  margin: 10px;
}

.question-card-name {
  font-size: calc(4px + 1vmin);
  font-weight: bold;
  padding: 5px;
  color: #e85a4f;
}
.question-card-timestamp {
  display: flex;
  justify-content: center;
  color: #8e8d8a;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e98074;
  padding: 5px;
  padding-bottom: 10px;
  width: 100%;
}

.question-card-show-btn {
  width: 200px;
  font-size: calc(4px + 1vmin);
  padding: 4px;
  margin: 5px;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-sizing: border-box;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  font-size: larger;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;

  color: #494846;
  text-decoration: none;
  padding: 5px;
  margin-left: 10px;
  margin-right: 10px;

  border-bottom-style: solid;
  border-width: 1px;
  border-color: transparent;

  transition: all 350ms cubic-bezier(0.23, 1, 0.32, 1);
  transform-origin: bottom center;
}
.nav-item:hover,
.is-active {
  background-color: #e98074;
  border-color: #e98074;
  color: #f4f3ed;
}

.profile-avatar {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 10px;
  background-size: cover;
  background-position: center;
  border: 1px solid #e98074;
}

/* Leaderboard */
table {
  margin-top: 5px;
  width: 150%;
  border-collapse: collapse;
  width: 80vw;
  background-color: #f4f3ed;
}
th,
td {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: #e98074;
  padding: 20px;
  border-spacing: 0px;
}
th {
  font-size: 18px;
  color: #f4f3ed;
  background-color: #e98074;
}

/* Rounded corners on the table */
th:first-of-type {
  border-top-left-radius: 5px;
}
th:last-of-type {
  border-top-right-radius: 5px;
}

.profile-container {
  display: flex;
  flex-direction: row;
}

.profile-name-container {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}

.profile-name {
  font-size: 16px;
  font-weight: bold;
}
.profile-username {
  font-size: 12px;
  color: #8e8d8a;
}

.question-option-container {
  width: 40vw;
  margin: 10px;
  color: #494846;
}
.question-option {
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 20px;

  border-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.question-answer-btn {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
}

.question-answer-percentage {
  width: 100%;
  text-align: center;
  vertical-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  min-height: 20px;
  font-size: 16px;
  font-weight: bold;
  color: #eae7dc;

  border: 1px solid;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.winning-vote {
  border-color: #c2af94;
  background-color: #c2af94;
}
.losing-vote {
  border-color: #c2af94;
  background-color: #c2af94;
}

.answer-container-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  align-content: flex-start;
}

.user-answer {
  color: #494846;
  width: 50%;
  text-align: center;
  vertical-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 10px;
  margin-top: 10px;

  border-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  border-radius: 5px;
}

.login-center-container {
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
}
.login-container {
  padding: 40px;
  border: 1px solid #e98074;
  border-radius: 5px;
  background-color: #f4f3ed;
}
.login-form {
  width: 100%;
}

button {
  display: inline-block;
  padding: 1em 1.2em;
  border: 0.1em solid #e98074;
  margin: 0 0 0 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  color: #e98074;
  text-align: center;
  transition: all 0.1s;
  background-color: transparent;
}
button:hover {
  color: #eae7dc;
  background-color: #e98074;
}
@media all and (max-width: 30em) {
  a.button1 {
    display: block;
    margin: 0.4em auto;
  }
}

.user-profile-container {
  margin: 20px;
  padding-right: 60px;
  border-style: solid;
  border-width: 1px;
  border-color: #8e8d8a;
  border-radius: 5px;
  background-color: #f4f3ed;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.user-profile-column {
  padding: 3vw;
}
.user-profile-questions-container {
  margin-top: 2vh;
}

.create-user-profile-container {
  width: 500px;

  margin: 20px;
  padding: 50px;
  border-style: solid;
  border-width: 1px;
  border-color: #e98074;
  border-radius: 5px;
  background-color: #f4f3ed;
  box-sizing: border-box;
}

.nav-website-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 2px;
  color: #f4f3ed;
  font-weight: bold;
  background-color: #e98074;
  padding: 5px;
  border-radius: 0.1em;
}
